@import 'src/scss/abstracts/variables';

* {
  box-sizing: border-box;
  font-family: $font-base;
  -font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-size: 0.875rem;
  position: relative;
  min-height: 100vh;
}
