$brand: #512853;
$brand-lighter: #86608E;
$brand-darker: #411349;
$text-shadow: #707070;
$gray: #404141;
$light-gray: #EAEAEA;
$medium-gray: #C9C9C9;
$disabled-gray-shadow: #C6C5C5;
$gradient-green-start: #50F442;
$gradient-green-end: #21C412;
$blue: #074650;
$blue-darker: #095662;
$white: #ffffff;
$black: #282828;

$button-start: #074650;
$button-end: #0b798a;
$button-shadow: #095662;

$error-button-start: #9b0c0c;
$error-button-end: #c01010;
$error-button-shadow: #a41411;

$correct-button-start: #72b26d;
$correct-button-end: #93e18c;
$correct-button-shadow: #4c7348;

$font-base: 'DIN Next Rounded LT Pro', sans-serif;



